$alfa: #3c6464;
$alfa-1: lighten($alfa, 9%);
$bravo: rgba(47, 79, 79, 0.5);
$charlie: white;
$delta: transparent;
$echo: #212529;
$foxtrot: whitesmoke;
$golf: #2a3a46;
$hotel: #dee2e6;
$india: #3c5364;
$juliett: rgba($alfa, 0.85);
$kilo: red;
$lima: #e2e3e5;
$mike: #eeeeee;
$november: rgba(47, 79, 79, 0.1);
$oscar: darken(#fbd725, 12%);
$papa: #e2e3e5;
$quebec: #757575;
$romeo: white;
