.accordian-heading {
    .accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: none;
    }
    .accordion-item:first-of-type > .accordion-header .accordion-button {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom: none;
    }
    .accordion-button:focus {
        box-shadow: none;
    }
    .accordion-button {
        background-color: $alfa;
        color: $foxtrot;
    }
    .accordion-button::after {
        background-image: url("../../images/accordian-white.svg");
    }
    .accordion-item {
        background-color: $foxtrot;
        color: $golf;
        border: none;
    }
    .accordion {
        border: 1px solid $alfa;
    }
    .accordion-body {
        padding: 2rem 1rem 1rem 1rem;
        @include min_md {
            padding: 3rem 3rem 2rem 3rem;
        }
    }
    button {
        border-bottom: 1px solid $alfa;
    }
}
