.cta {
    text-decoration: none;
    background-color: $india;
    transition: background-color 0.3s ease-in-out;
    will-change: background-color;
    &:hover {
        background-color: lighten($india, 2%);
        .div-button {
            background-color: lighten($juliett, 2%);
            svg {
                transform: translateX(50%);
            }
        }
    }
    p {
        background-color: $delta;
        color: $charlie;
    }
    h2 {
        color: $charlie;
    }
    .div-button {
        background-color: $juliett;
        border: none;
        color: $charlie;
        transition: background-color 0.3s ease-in-out;
        will-change: background-color;
    }
    svg {
        transition: transform 0.3s;
        will-change: transform;
        transform: translateX(0);
    }
}
