.enquiry {
    input,
    label,
    textarea {
        width: 100%;
    }
    label {
        height: 64px;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: 15px 0 0 0;
    }
    label[for="text"] {
        height: 216px;
    }
    textarea {
        resize: none;
    }
    input[type="text"],
    textarea {
        color: $charlie;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5px;
        border: 1px solid $alfa;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        background-color: $juliett;
        scrollbar-color: $hotel transparent;
        &::-webkit-scrollbar {
            width: 15px;
        }
        &::-webkit-scrollbar-thumb {
            background: $hotel;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    input[type="submit"] {
        width: fit-content;
        color: $charlie;
        background-color: $juliett;
        font-weight: 400;
        border: 1px solid $alfa;
        transition:
            color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;
        will-change: color, background-color;
        &:hover {
            color: $charlie;
            background-color: $alfa;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-text-fill-color: $charlie;
        -webkit-box-shadow: 0 0 0 5rem $juliett inset;
        -webkit-background-clip: text;
    }
    input.error,
    textarea.error {
        border-color: $kilo;
    }
    p {
        background-color: $delta;
        color: $echo;
    }
    input::placeholder,
    textarea::placeholder {
        color: inherit;
    }
    .spinnerSpan {
        height: 45px;
        display: inline-block;
        .spinner {
            height: 45px;
            width: fit-content;
            display: block;
            margin: auto;
            border: none;
            background-color: $lima;
            border-radius: 50%;
            padding: 0.2rem;
        }
    }
}
