
html {
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: var(--font-montserrat-regular);
    font-size: 20px;
    overflow-y: scroll;
    position: relative;
    background-color: $hotel;
    width: 100%;
    @include min_hd {
        max-width: 1920px;
        margin: auto;
        border-right: 1px solid $echo;
        border-left: 1px solid $echo;
    }
}

h1 {
    font-size: inherit;
    font-weight: 400;
    width: 100%;
}

h2,
h3 {
    font-weight: 300;
}

p {
    background-color: $alfa;
    color: $charlie;
}

b {
    font-weight: 500;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
}

.PreText {
    white-space: pre-line;
}

.os-theme-body {
    --os-size: 7px;
}

.os-theme-body .os-scrollbar-handle {
    background: $alfa-1;
    border-radius: 0px;
    height: 82px;
    @include min_md {
        height: 83px;
    }
}

.os-theme-body .os-scrollbar-track {
    background: transparent;
}
