.slider_8-navigation {
    background-color: $alfa;
    z-index: 999;
    overflow: hidden;
    will-change: top, max-height;
    max-height: 83px;
    border-bottom: 1px solid $hotel;
    transition: top 0.375s, max-height 0.375s;
    @include min_md {
        width: 300px;
        position: absolute;
        right: 0;
        border: none;
        z-index: 1001;
    }
    &.has-float.navigation-fixed {
        z-index: 999;
        position: fixed;
        top: -83px;
        width: 100%;
        border-bottom: 1px solid $hotel;
        transition: "none";
        max-height: "83px";
    }
    &.has-positive.navigation-fixed {
        z-index: 999;
        position: fixed;
        top: -83px;
        width: 100%;
        border-bottom: 1px solid $hotel;
        transition: top 0.375s, max-height 0.375s;
        max-height: 0px;
    }
    &.has-negative.navigation-fixed {
        z-index: 999;
        position: fixed;
        top: 0px;
        width: 100%;
        border-bottom: 1px solid $hotel;
        transition: top 0.375s, max-height 0.375s;
        max-height: 83px;
    }
    &.has-collapsed,
    &.has-collapsed.navigation-fixed {
        max-height: 212px;
    }
    .navbar-collapse {
        background-color: inherit;
        overflow: hidden;
        border-top: 1px solid $hotel;
        @include min_md {
            border: none;
        }
    }
    div.navigation-link,
    .navigation-link {
        color: $hotel;
        letter-spacing: 0.0125em;
        text-decoration: underline;
        text-decoration-color: $delta;
        transition: text-decoration-color 0.2s;
        will-change: text-decoration-color;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: inherit;
        &:hover {
            text-decoration-color: $hotel;
        }
    }
    li {
        will-change: transform;
    }
    a.active {
        text-decoration-color: $hotel;
        text-underline-offset: 5px;
    }
    button.navbar-toggler {
        outline: none;
        border: none;
        box-shadow: none;
        background-color: initial;
    }
    svg {
        fill: $charlie;
        font-style: oblique;
    }
}

.slider_8-navbar-toggler {
    .slider_8-bar {
        width: 24px;
        height: 3px;
        background-color: $hotel;
        margin: 4px 0;
        border-radius: 1.5px;
        border-radius: 1.5px;
        will-change: transform, opacity;
        transition:
            transform 0.375s,
            opacity 0.375s;
        opacity: 1;
    }
    &.has-collapsed {
        .slider_nav-bar-1 {
            transform: translate(0, 7px) rotate(-45deg);
        }
        .slider_nav-bar-2 {
            opacity: 0;
        }
        .slider_nav-bar-3 {
            transform: translate(0, -7px) rotate(45deg);
        }
    }
}
