.not-found {
    img {
        max-width: 100%;
        height: auto;
    }
    a {
        color: $alfa;
        font-style: oblique;
        font-size: 19px;
        text-decoration: underline;
        text-decoration-color: $delta;
        transition: text-decoration-color 0.2s;
        will-change: text-decoration-color;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: inherit;
        &:hover {
            text-decoration-color: $alfa;
        }
    }
}
