.scrolled {
    &.up {
        animation: scrolled-up 0.67s forwards;
    }
    &.right {
        animation: scrolled-right 0.67s forwards;
    }
    &.left {
        animation: scrolled-left 0.67s forwards;
    }
    &.up-right {
        animation: scrolled-up-right 0.67s forwards;
    }
}

.scrolled-init,
.scrolled-init-offset {
    &.up {
        transform: translatey(42%);
    }
    &.right {
        transform: translateX(-22%);
    }
    &.left {
        transform: translateX(22%);
    }
    &.up-right {
        transform: translate(-22%, 22%);
    }
}

@keyframes scrolled-up {
    0% {
        transform: translateY(42%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes scrolled-right {
    0% {
        transform: translateX(-22%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes scrolled-left {
    0% {
        transform: translateX(22%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes scrolled-up-right {
    0% {
        transform: translate(-22%, 22%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
