.two-col-image {
    background-color: $alfa;
    div:nth-child(1) {
        h2 {
            color: $charlie;
        }
        p {
            color: $charlie;
            font-size: clamp(18px, 2vw, 20px);
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    hr {
        color: $hotel;
    }
}
